%h2= t('.title', :name => h(@current_project))  #contacts in ... project name

%h3=t('.users')
%p=t('.these_are_the_users_in_this_project')
- if @contacts.any?
  %ol
    = list_of @contacts do |user|
      = micro_avatar user
      = link_to h(user.name), user

- else
  %p= t('people.column.no_contacts')

%h3=t('.contacts')
%p=t('.these_are_the_contacts_assigned_to_this_project')
#people.people
  - if @project_contacts.any?
    - @project_contacts.each do |contact|
      %div.person
        = render 'contact_header', :contact => contact, :project => @current_project, :assigned => true
  - else
    %p= t('.no_contacts')


%h3=t('.contacts')
%p=t('.these_are_the_contacts_that_can_be_added_to_this_project')
#people.people
  - if @available_contacts.any?
    - @available_contacts.each do |contact|
      %div.person
        = render 'contact_header', :contact => contact, :project => @current_project, :assigned => false
  - else
    %p= t('.no_contacts')


%p= link_to t('.new_contact'), new_organization_contact_path(@project.organization)

