%h2= t('.title', :name => h(@current_project))  #contacts in ... project name

%h3=t('.users')
%p= "These are the users invited to this project"
- if @contacts.any?
  %ol
    = list_of @contacts do |user|
      = micro_avatar user
      = link_to h(user.name), user

- else
  %p= t('people.column.no_contacts')

%h3=t('.contacts')
%p= "These are the contacts assigned to this project"
#people.people
  - if @project_contacts.any?
    - @project_contacts.each do |contact|
      %div.person
        = render 'contact_header', :contact => contact, :project => @current_project, :assigned => true
  - else
    %p= t('.no_contacts')


-#%h3=t('.contacts')
-#%p= "These are the contacts assigned to this project"
-#- if @project_contacts.any?
-#  %table
-#    %tbody
-#      - @project_contacts.each do |contact|
-#        %tr
-#          %td= contact.first_name
-#          %td= link_to contact.last_name, organization_contact_path(@project.organization, contact)
-#          %td= contact.company
-#          %td= contact.phone_number
-#          %td= contact.email
-#          %td= link_to t('users.user.remove_from_project'), remove_contact_project_path(@project, contact), :method => :put
-#- else
-#  %p= t('.no_contacts')

%h3=t('.contacts')
%p= "These are the contacts available to be added to this project"
#people.people
  - if @available_contacts.any?
    - @available_contacts.each do |contact|
      %div.person
        = render 'contact_header', :contact => contact, :project => @current_project, :assigned => false
  - else
    %p= t('.no_contacts')


-#%h3=t('.available_contacts')
-#%p="These are the contacts available to be added to this project"
-#- if @available_contacts.any?
-#  %table
-#    %tbody
-#      - @available_contacts.each do |contact|
-#        %tr
-#          %td= contact.first_name
-#          %td= link_to contact.last_name, organization_contact_path(@project.organization, contact)
-#          %td= contact.company
-#          %td= contact.phone_number
-#          %td= contact.email
-#          %td= link_to t('.assign_to_project'), add_contact_project_path(@project, contact), :method => :put
-#- else
-#  %p= t('.no_contacts')

%p= link_to t('.new_contact'), new_organization_contact_path(@project.organization)

