%h2
  Users
  %span
    =link_to t('.back_to_menu'), admin_index_path
%ul
  - @users.each do |user|
    %li
      = link_to user.name, user
      = "(#{user.login})"
      = link_to user.email, "#mailto:#{user.email}"
      %p
        = "Member of:"
        = user.memberships.map { |m| "#{m.organization.name} (#{m.role_name})"}.join ','
      %p
        = "Organization:"
        = user.company unless user.company.nil?

=link_to "Download as CSV", admin_users_path(:format => 'csv'), :class => :button
