#footer
  %ol.support
    %li= support_link
    %li= mobile_link
    %li= help_link
  .copyright
    Project collaboration by
    = link_to 'Code for Europe', 'http://www.codeforeurope.net'
    based on
    = link_to 'Teambox', 'https://github.com/teambox/teambox'

= tracking_code
