= form_for ([@organization, @contact]) do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :address
    = f.text_area :address

  = hidden_field_tag :project_id, @project.id unless @project.nil?

  .actions
    = f.submit