<h1>Listing contacts</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Company</th>
    <th>Location</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.company %></td>
    <td><%= contact.location %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone_number %></td>
    <td><%= contact.address %></td>
    <td><%= link_to 'Show', organization_contact_path(@organization, contact) %></td>
    <td><%= link_to 'Edit', edit_organization_contact_path(@organization, contact) %></td>
    <td><%= link_to 'Destroy', [@organization, contact], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_organization_contact_path(@organization) %>
