<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Company:</b>
  <%= @contact.company %>
</p>

<p>
  <b>Location:</b>
  <%= @contact.location %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @contact.phone_number %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>

<p>
  <% if @contact.projects.any? %>
    <br>Projects:
    <ul>
      <% @contact.projects.each do |project| %>
        <li><%= link_to project.name, project %></li>
      <% end %>
    </ul>
  <% end %>
  </p>


  <%= if can? :update, @contact, @current_user
        link_to 'Edit', edit_organization_contact_path(@organization, @contact)
      end %> |
  <%= link_to 'Back', organization_contacts_path(@organization) %>
