.email{ :style => email_global }

  = dont_answer

  .box{ :style => email_box }
    %div{ :style => "float:right; margin-left:auto; margin-right:0px"}
      =image_tag attachments['team-logo.png'].url
    %p= t('emailer.invitation.invited_to_hello', :recipient_name => (h(@recipient.name.strip.split(/\s+/).first) unless @recipient.nil?))
    %p= t('emailer.invitation.collaborate_with', :name => h(@referral.name))
    -if !@project.goal.nil?
      %p
        %strong
          = t('emailer.invitation.invited_to_goal', :project_name => h(@project.name))
      %p= h(@project.goal)
    %p
      %strong
        = t('emailer.invitation.current_users')
      = @project.people.collect { |p| h(p.name) }.to_sentence
    %p= t('emailer.invitation.invited_to_project_startdate', :project_startdate => @project.date_start.strftime("%e %B %Y"))
    - linkstr = '<a href="' + @project.organization.video_url + '" style="text-decoration:none;display:block" class="nonplayable" target="_blank"><img src="' + @project.organization.thumbnail_url + '" width="500" border="0"></a>'
    %p
      %strong
        = t('emailer.invitation.invited_to_youtube', :youtube_link => "")
    %p= raw linkstr
    %h2{ :style => email_text(:big) }
      = link_to t('emailer.invitation.accept_the_invitation'), project_url(@project)


  %p{ :style => email_text(:small) }
    =raw t('emailer.project_membership_notification.project_link', :project => content_tag(:b,h(@project.name)))
    %br
    = link_to project_url(@project), project_url(@project)

  .footer{ :style => email_text(:small) }
    %p
      = t('emailer.invitation.report_abuse')
