.email{ :style => email_global }

  = dont_answer

  .box{ :style => email_box }
    %p= t('emailer.invitation.invited_to_hello', :recipient_name => h(@invitation.user.name))
    %p= t('emailer.invitation.collaborate_with', :name => h(@referral.name))
    -if @project.goal.length > 0
      %p= t('emailer.invitation.invited_to_goal', :project_name, h(@project.name))
      %p= h(@project.goal)
    %p
      %strong
        = t('emailer.invitation.current_teamleaders')
      = @project.people.map(&:user).select { |user| @current_project.admin?(user) }.collect{ |p| h(p.name)}.to_sentence
    %p= t('emailer.invitation.invited_to_project_startdate', :project_startdate => @project.date_start)
    %p= t('emailer.invitation.')
    -#%p{ :style => email_text(:big) }
    -#  = t('emailer.invitation.you_have_been_invited_to', :project => h(@project.name))
    %h2{ :style => email_text(:big) }
      = link_to t('emailer.invitation.accept_the_invitation'), projects_url(:invitation => @invitation.token)
    %p
      %strong
        = t('emailer.invitation.current_users')
      = @project.people.collect { |p| h(p.name) }.to_sentence

  %p{ :style => email_text(:small) }
    = t('emailer.invitation.plaintext_link')
    %br
    = link_to projects_url(:invitation => @invitation.token), projects_url(:invitation => @invitation.token)

  .footer{ :style => email_text(:small) }
    %p
      = t('emailer.invitation.report_abuse')
