.email{ :style => email_global }

  = dont_answer

  .box{ :style => email_box }
    %p= t('emailer.invitation.invited_to_hello', :recipient_name => (h(@recipient.name.strip.split(/\s+/).first) unless @recipient.nil?))
    %p= t('emailer.invitation.collaborate_with', :name => h(@referral.name))
    -if !@project.goal.nil?
      %p
        %strong
          = t('emailer.invitation.invited_to_goal', :project_name => h(@project.name))
      %p= h(@project.goal)
    %p
      %strong
        = t('emailer.invitation.current_users')
      = @project.people.collect { |p| h(p.name) }.to_sentence
    %p= t('emailer.invitation.invited_to_project_startdate', :project_startdate => @project.date_start.strftime("%e %B %Y"))
    - linkstr = '<a href="http://www.youtube.com/watch?v=JmANgm6V22c" style="text-decoration:none;display:block" class="nonplayable" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/t6C-pmTNFoCSffpJzrnzIMYU-td3tAObDqg5YpCOp__v5xEjDm7tYs9zYJYn3ES-szLDlf4x8oV9CYY53ZsRMnXa6ONPoW-S85mbCEmrOQAgTiMNBQs7kH3Zm1w6Gk9tpN9o12ENtGgB2Ohzmc7-WT57sbgpnc9sldMRyOoy9mxiTSGDO-taVQK3=s0-d-e1-ft#http://i.ytimg.com/vi/JmANgm6V22c/sddefault.jpg?w=640&amp;h=360&amp;sigh=NGDL-EBKxxipnPjtI7Il9zSV4uc" width="500" height="281" border="0"></a>'
    %p
      %strong
        = t('emailer.invitation.invited_to_youtube', :youtube_link => "")
    %p= raw linkstr
    %h2{ :style => email_text(:big) }
      = link_to t('emailer.invitation.accept_the_invitation'), project_url(@project)


  %p{ :style => email_text(:small) }
    =raw t('emailer.project_membership_notification.project_link', :project => content_tag(:b,h(@project.name)))
    %br
    = link_to project_url(@project), project_url(@project)

  .footer{ :style => email_text(:small) }
    %p
      = t('emailer.invitation.report_abuse')
