<%= form_for([@organization, @principle]) do |f| %>
  <% if @principle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@principle.errors.count, "error") %> prohibited this principle from being saved:</h2>

      <ul>
      <% @principle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size=>"50", :maxlength=>"254" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
