<div>
  Timeline for <%= @organization.name %>
  <div class="gantt"></div>
</div>


<%= javascript_include_tag 'jquery_min' %>
<%= javascript_include_tag 'jquery_fn_gantt' %>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script>
<script>
  var $j = jQuery.noConflict();
  $j(function() {

    "use strict";

    $j(".gantt").gantt({
      source: <%= raw @source.to_json %>,
      navigate: "buttons",
      scale: "years",
      maxScale: "months",
      itemsPerPage: <%= @source.count %>,
      onItemClick: function(data) {
        alert("Item clicked - show some details");
        console.log(data);
      },
      onAddClick: function(dt, rowId) {
        alert("Empty space clicked - add an item!");
      },
      onRender: function() {
        if (window.console && typeof console.log === "function") {
          console.log("chart rendered");
        }
      }
    });

//    $j(".gantt").popover({
//      selector: ".bar",
//      title: "I'm a popover",
//      content: "And I'm the content of said popover.",
//      trigger: "hover"
//    });

//    prettyPrint();

  });
</script>